* {
	all: unset;
	background-image: none;
	transition: 300ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

window {
	background: rgba(7, 2, 2, 0.7);
}

button {
	font-family: 'Material Symbols Outlined';
	font-size: 10rem;
	background-color: rgba(11, 11, 11, 0.4);
	color: #FFFFFF;
	margin: 2rem;
	border-radius: 2rem;
	padding: 3rem;
    
}

button:focus,
button:active,
button:hover {
	background-color: rgba(5, 44, 26, 0.68);
	border-radius: 4rem;
}
